
.page-container {
    display: flex;
    flex-direction: row;
}

/*
##########
# HEADER #
##########
*/

#logo {
    width: 96%;
    height: auto;
    margin-bottom: 4px;
    border-radius: 4px;
}

.header-bar {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    border-bottom: 5px solid #141313;
}

.page-data-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
    align-items: center;
}

.page-search-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
}

.search-sub-container {
    height: 100%;
    margin-right: 0px;
    margin-left: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row;
}

#search-button {
    margin-left: 4px;
    margin-right: 10px;
}

#side-bar-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 96%;
    align-items: center;  
}

.bar-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

.button-title {
    margin-left: 3px;
    font-size: large;
}

/*
########
# MAIN #
########
*/

.main-container {
    width: 88%;
    display: flex;
    flex-direction: column;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 12%;
    border-bottom: 5px solid #141313;
    border-right: 5px solid #141313;
    align-items: center;
}

.main-page {
    width: 100%;
}