/*
########
# BODY #
########
*/

body {
    background-image: url(/imgs/background-test.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

/*
##########
# HEADER #
##########
*/

.header-bar {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7)
    /* border-bottom: 5px solid #141313; */
}

.page-data-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
    align-items: center;
}

.title {
    margin-left: 10px;
    color: black;
}

.page-search-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
}

.search-sub-container {
    height: 100%;
    margin-right: 0px;
    margin-left: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

form {
    display: flex;
}

#search-button {
    margin-left: 10px;
    margin-right: 10px;
}

#side-bar-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 96%;
    align-items: center;
    
}

.bar-button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-title {
    margin-left: 3px;
    font-size: large;
}

/*
########
# MAIN #
########
*/

.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.side-bar {
    width: 9%;
    background-color: rgba(0, 0, 0, 0.7);
    height: calc(100vh - 70px);
    align-items: center;
    display: flex;
    flex-direction: column;
    /* border-bottom: 5px solid #141313;
    border-right: 5px solid #141313; */
}

.main-page {
    width: 91%;
}