<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>404 Page</title>
</head>
<body>
    <h1>You are now in the 404 page</h1>
    <button type="button" class="btn btn-dark" id="search-button">
        Go to: Home page
    </button>

    <script src="/js/404.js"></script>
</body>
</html>