<div class="container">

    <div class="main-container">
        <!-- upper side of the header -->
        <div class="upper-side">
            
            <!-- logo image -->
            <div class="logo-container">
                <img class="img-logo" src="../../assets/images/endfield_logo.png" alt="">
            </div>
        
            <!-- redirect data -->
            <div class="redirect-container">
                
                <!-- home page redirect -->
                <div class="home" id="redirect">
                    <a href="/test" >
                        <span>home</span>
                    </a>
                </div>
                
                <!-- news -->
                <div class="news" id="redirect">
            
                </div>
            
                <!-- website media -->
                <div class="media" id="redirect">
            
                </div>
            </div>
        </div>

        <!-- down side of the header (colors)-->
        <div class="down-side">
            <div class="purple" id="color">

            </div>

            <div class="yellow" id="color">

            </div>

            <div class="green" id="color">

            </div>
        </div>

    </div>
    
    <div class="login-container">

    </div>
</div>